/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */
:root {
    /* --background-color: #1A1A40;
    --primary-ball: #FF073A;
    --secondary-ball: #00D1FF;
    --obstacles: #E0E0E0;
    --accent-1: #39FF14;
    --accent-2: #9F00FF; */
    
    --background-color: #121212;
    --primary-ball: #FF0000;
    --secondary-ball: #00FFFF;
    --obstacles: #FFFF00;
    --accent-1: #FF00FF;
    --accent-2: #00FF00;
    
    /* --background-color: #E6E6FA;
    --primary-ball: #FF6F61;
    --secondary-ball: #B0E0E6;
    --obstacles: #FFDAB9;
    --accent-1: #FFFFE0;
    --accent-2: #FFB6C1; */

}
.none {
    display: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.orbitron-game-over {
  font-family: "Orbitron", system-ui;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--background-color);
}

.game-over {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}